.fundoCadastro {
  background-image: url("https://ik.imagekit.io/w0ctnknwb/cute_white_kitten_surrounded_by_stars_by_rebelyelliexai_dhv6mfa-pre.jpg?updatedAt=1725608608154");
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}