.fundoLogin {
  background-image: url("https://ik.imagekit.io/w0ctnknwb/cosmic_cat_by_coolarts223_dhzoqkl.png?updatedAt=1725608411460");
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}